doctype html
html
  head
    title Nature's Crates - Contact Us
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Contact Us
    main
      p Email us at support@naturescrates.com for any questions or concerns.
    footer
      p © 2024 Nature's Crates
