
html
  head
    title Nature's Crates - Home
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/scripts.js')
  body
    header
      h1 Welcome to Nature's Crates
      p Your Source for Eco-Friendly Products and Sustainable Solutions!
      button#menu-toggle Toggle Menu
    main
      p Explore our range of eco-conscious products and join the movement for a greener future.
      p# greeting
    footer
      p © 2024 Nature's Crates
